/* fonts */
@font-face {
    font-family: Praysire;
    src: url(../fonts/praysire/Praysire\ Demo.otf);
}

@font-face {
    font-family: Louis George Cafe;
    src: url(../fonts/louis_george_caf/Louis\ George\ Cafe.ttf);
}

@font-face {
    font-family: Louis George Cafe Bold;
    src: url(../fonts/louis_george_caf/Louis\ George\ Cafe\ Bold.ttf);
}

/* code */

* {
    margin: 0;
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: rgb(219, 200, 160);
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    overflow-x: hidden;
}

p {
    line-height: 0.55cm;
}

.container {
    min-height: 100vh;
    width: 100%;
    font-family: Louis George Cafe;
    background-color: transparent;
}

.coverpage {
    height: 100vh;
}

#menu-img {
    width: 35px;
    padding: 15px;
    cursor: pointer;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accountbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.accountbtn a:hover,
.info a:hover,
.column-one #ctn-btn:hover {
    transition: 0.6s;
    box-shadow: 6px 57px 23px rgba(255, 255, 255, 0.04), 3px 32px 20px rgba(255, 255, 255, 0.13), 2px 14px 14px rgba(255, 255, 255, 0.21), 0px 4px 8px rgba(255, 255, 255, 0.25), 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.accountbtn a,
.info a,
.column-one #ctn-btn {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: Louis George Cafe;
    padding: 12px 15px;
    border: none;
    background: white;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    margin-top: -30px;
    width: 100%;
}

.overlay-content div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.overlay-content a {
    padding: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    font-size: 54px;
    color: #818181;
    display: block;
    transition: 0.5s;
    font-family: Praysire;
}

.overlay-content p {
    text-decoration: none;
    font-size: 18px;
    color: #646464;
    display: block;
    transition: 0.5s;
    font-family: Praysire;
}

.overlay-content a:hover,
.overlay-content a:focus,
.overlay .closebtn:hover {
    color: #bababa;
}

.overlay .closebtn {
    text-decoration: none;
    color: #818181;
    position: absolute;
    transition: 0.5s;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    font-family: Praysire;
    font-size: 74px;
}

.info p {
    font-size: 19px;
    margin-bottom: 20px;
}

.aboutus-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100vh;
}

#concert-img,
#location-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.left-side {
    height: 100%;
    grid-area: 1 / 1 / 1 / 2;
}

.right-side {
    height: 100%;
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.small-headings {
    text-transform: uppercase;
    color: rgb(148, 121, 104);
    font-size: 12px;
    letter-spacing: 0.1cm;
    margin-bottom: 15px;
}

.main-captions {
    font-size: 54px;
    font-family: Praysire;
    text-transform: capitalize;
}

.abt-text,
.location-text {
    padding: 15px 25%;
}

.location-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100vh;
}

.left-side1 {
    height: 100%;
    grid-area: 1 / 1 / 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.right-side1 {
    height: 100%;
    grid-area: 1 / 2 / 1 / 3;
}

.nums {
    width: 100%;
    height: 100vh;
    position: relative;
}

.paragraphs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.num-grid {
    width: 70%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60vh;
}

.num-grid h1 {
    font-family: Praysire;
    font-size: 64px;
}

.left {
    background-color: transparent;
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}

.left1 {
    background-color: rgba(148, 121, 104, 0.075);
    margin: 15px;
    border-radius: 20px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right1 {
    background-color: transparent;
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

.left2 {
    border-radius: 20px;
    margin: 15px;
    background-color: rgba(148, 121, 104, 0.075);
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right2 {
    margin: 15px;
    border-radius: 20px;
    background-color: rgba(148, 121, 104, 0.075);
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: transparent;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}

.left3 {
    margin: 15px;
    border-radius: 20px;
    background-color: rgba(148, 121, 104, 0.075);
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right3 {
    background-color: transparent;
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}


.left4 {
    margin: 15px;
    border-radius: 20px;
    background-color: rgba(148, 121, 104, 0.075);
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right4 {
    margin: 15px;
    border-radius: 20px;
    background-color: rgba(148, 121, 104, 0.075);
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover {
    cursor: default;
    transition: transform 0.7s ease;
}

.hover:hover {
    transform: scale(1.05);
}

#blurred1 {
    width: 100%;
    height: 100%;
    max-width: 372px;
    border-radius: 100%;
    filter: blur(170px);
    position: absolute;
    z-index: -1;
    background: rgb(143, 103, 77);
}

.footer {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(270deg, rgb(206, 175, 156), rgb(148, 121, 104)); */
    position: relative;
    color: black;
}

#background-videoo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.footer-content {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 39vh 1vh 60vh;
}

.motto {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.motto h1 {
    font-size: 60px;
}

.hr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
}

.hr hr {
    border: 1px solid black;
    width: 90%;
}

.footer-grid {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
}

.column-one {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.column-one #footer-logo {
    width: 240px;
    padding-bottom: 30px;
    margin-left: 60px;
}

.column-one .socials img {
    width: 20px;
    filter: brightness(0%);
    padding-bottom: 30px;
}

.column-one .socials img:nth-child(1) {
    padding-left: 10px;
    padding-right: 10px;
}

.social-links {
    text-decoration: none;
}

.social-links:hover {
    transition: 0.6s;
    opacity: 70%;
}

.column-two {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.column-two ul {
    list-style: none;
}

.column-two ul li {
    padding: 25px;
    font-size: 20px;
}

.column-two ul li a {
    text-decoration: none;
    color: black;
}

.column-two ul li a:hover {
    opacity: 70%;
    transition: 0.6s;
}


.column-three {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0px 100px;
}

.column-three p {
    line-height: .7cm;
}


@media screen and (max-width: 450px) {

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .p {
        margin-top: 200px;
    }

    .left {
        width: 100%;
        background-color: transparent;
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        grid-template-rows: 33% 66%;
        grid-template-columns: 100%;
    }

    .right {
        background-color: transparent;
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-rows: 33% 66%;
        grid-template-columns: 100%;
    }


    .num-grid {
        width: 70%;
        background-color: transparent;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 65vh 65vh;
    }

    .left1,
    .left2,
    .right2,
    .left3,
    .left4,
    .right4 {
        margin: 0px;
        margin-bottom: 20px;
    }

    .left1,
    .left3 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .right1,
    .right3 {
        margin: 0;
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;

    }


    .left2,
    .left4 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .right2,
    .right4 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .nums {
        height: 140vh;
        margin-bottom: 200px;

    }

    .nums h1 {
        margin-bottom: 50px;
    }

    .main-captions {
        font-size: 32px;
    }

    .paragraphs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;

    }

    .overlay-content a {
        font-size: 40px;
    }

    .main-heading {
        font-size: 36px;
    }

    .aboutus {
        height: 100%;
    }

    .aboutus-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100vh 100vh;
    }

    .left-side {
        grid-area: 1 / 1 / 2 / 1;
    }

    .right-side {
        grid-area: 2 / 1 / 3 / 1;
    }

    .location {
        height: 100%;
    }

    .location-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100vh 100vh;
    }

    .left-side1 {
        grid-area: 1 / 1 / 2 / 1;
    }

    .right-side1 {
        grid-area: 2 / 1 / 3 / 1;
    }

    .footer {
        height: 230vh;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60vh 60vh 60vh;
        height: 100%;
        width: 100%;
    }

    #background-videoo {
        height: 100%;
        /* object-fit: cover; */
    }

    .footer-content {
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 49vh 1vh 180vh;
    }

    .footer-grid {
        grid-area: 3 / 1 / 4 / 2;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100%;
    }

}


@media only screen and (max-width: 768px) {

    .overlay-content a {
        font-size: 50px;
    }
}